<script type="text/javascript">
  var clicky_custom = clicky_custom || {};
  clicky_custom.cookies_disable = 1;
</script>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try { clicky.init(101131786); } catch (e) { }</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101131786ns.gif" /></p></noscript>

<script type="text/javascript">
  // This should effectively disable all cookies being set on this site
  // It is a bit of a crude measure, but I think it is necessary, having in mind how many seemingly innoncent
  // 3rd-party scripts and embeds bring in tracking cookies with themselves
  if (!document.__defineGetter__) {
    Object.defineProperty(document, 'cookie', {
      get: function () { return '' },
      set: function () { return true },
    });
  } else {
    document.__defineGetter__("cookie", function () { return ''; });
    document.__defineSetter__("cookie", function () { });
  }
</script>
