<li>
  <a href="https://twitter.com/preslavrachev" itemprop="sameAs">
    <i class="fab fa-fw fa-twitter" aria-hidden="true"></i> Twitter
  </a>
  <a href="https://github.com/preslavrachev" itemprop="sameAs">
    <i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub
  </a>
  <a href="https://www.linkedin.com/in/preslavrachev/" itemprop="sameAs">
    <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn
  </a>
  <a href="https://mastodon.technology/@preslavrachev" itemprop="sameAs">
    <i class="fab fa-fw fa-mastodon" aria-hidden="true"></i> Mastodon
  </a>
</li>
