.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px !important;
}

iframe {
  display: block;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}